.input_comp {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%,-50%);	

}
.input_url {
	color: black;
}
.input {
	width: 300px;
	height: 30px;
	background-color: #B4A39F;
}

