.sensor {
	list-style-type: none;
	padding: 32px;
	max-width: 800px;	

}

.list_sensor {
    padding: 12px;
	width: 150;	
    height: 30px;
    border: solid #232223;
    text-align: center;
    text-decoration-color: aqua;
}

a:link 
{ 
 text-decoration:none; 
}